@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.formulario {
   background-image: url(../images/background-image.jpg);
   background-size: contain;
   min-height: 100vh;
   min-width: 100vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 5rem;
}

.formulario .duvidas {
    color: #fff;
    max-width: 45rem;
}

.formulario .duvidas .titulo {
    font-size: 4rem;
    font-weight: 900;
}

.formulario .duvidas .texto {
    font-size: 2rem;
    padding-top: 2rem;
}

.formulario .container-campos {
    background-color: #fff;
    width: 45rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;
}

.container-campos .campo, .text-area {
   border: 1px solid #000;
   border-radius: 5px;
   width: 35rem;
   padding: 1rem;
}

.container-campos .campo {
    height: 3.5rem;
}

.container-campos .text-area {
    height: 10rem;
    resize: none;
}

.container-campos .btn-enviar-formulario {
    background-color: #3CCC87;
    border-radius: 5px;
    color: #fff;
    width: 35rem;
    height: 4rem;
    cursor: pointer;
}

.container-campos .campo-valido {
    border: 1px solid #3CCC87;
}

.container-campos .campo-invalido {
    border: 1px solid #ff0000;
}

.container-campos .campo-obrigatorio {
    display: none;
}

.container-campos .mostar-campo-obrigatorio {
    color: #ff0000;
    font-size: 1.2rem;
    display: block;
}